###NOTE: Do not use any quotation marks in the values you fill in here
###      They are interpreted literally and will be part of the value

#Your UID.  It's probably 1000, but you can double-check by running `id -u`
UID=1000

##DuckDNS
##Enter your DuckDNS credentials here.  If you register 'example.duckdns.org', then put 'example' in
##DuckDNS subdomain.  Don't forget to put your full domain e.g. example.duckdns.org as well as the email you
##used to register it in the [docker] and [acme] sections of ./configs/traefik.toml
DUCKNS_SUBDOMAIN=
DUCKDNS_TOKEN=


##Optional
##If your purchased a domain from a domain registrar, put it here, otherwise just put
##your full DuckDNS domain here (a DuckDNS domain does not work for every mail provider e.g. Mailgun)
REGISTERED_DOMAIN=

#Traefik admin username/password file. Run htdigest -c /path/to/new/password/file traefik yourusername to create the username/password file for the traefik dashboard
TRAEFIK_DASHBOARD_USERS_PASSWORD_FILE=
TRAEFIK_DASHBOARD_URL=

#Your Timezone
TZ=America/New_York

##Mail Relay
##UPSTREAM_SMTP_HOST should specify the hostname and port e.g. smtp.mailgun.org:587
UPSTREAM_SMTP_HOST=
UPSTREAM_SMTP_USERNAME=
UPSTREAM_SMTP_PASSWORD=
FROM_ADDRESS=

#Hostnames for use by traefik
#Fill in values for services you intend to use with your domains.  You can specify multiple domains, if
#desired, separated by a comma (e.g. service.yourdomain.com,service.yourdynamicdomain.duckdns.org) to
#make the service available at both hostnames.  For any purchased domains, you will need to
#add a CNAME record pointing to your duckdns dynamic domain for EACH of these

##Base
PORTAINER_DOMAIN=
##Add-ons
AIRSONIC_DOMAIN=
BOOKSTACK_DOMAIN=
DISCOURSE_DOMAIN=
DRAWIO_DOMAIN=
GITLAB_DOMAIN=
GUACAMOLE_DOMAIN=
HEIMDALL_DOMAIN=
MAILU_DOMAIN=
MASTODON_DOMAIN=
MEDIAWIKI_DOMAIN=
NEXTCLOUD_DOMAIN=
#the value of COLLABORA_OFFICE_DOMAIN should be added to ./configs/collabora-proxy.conf
COLLABORA_OFFICE_DOMAIN=
COLLABORA_ADMIN_USERNAME=
COLLABORA_ADMIN_PASSWORD=
PI_HOLE_DOMAIN=
PIWIGO_DOMAIN=
PROJECT_SEND_DOMAIN=
PYDIO_DOMAIN=
ROCKETCHAT_DOMAIN=
SYNCTHING_DOMAIN=
TRANSMISSIONBT_DOMAIN=
WALLABAG_DOMAIN=
YTDOWNLOADER_DOMAIN=